<div class="row">
  <div class="col-sm">
    &nbsp;
  </div>
  <div class="col-sm-7">
    <img src="{{tweet.imgURL}}" class="rounded" width="50" height="50">
    &nbsp;
    <h5 class="custom-control-inline">{{name}}</h5>
    <p class="custom-control-inline">@{{tweet.username}}</p>
    <small class="custom-control-inline">{{tweet.created_at}}</small>

    <div class="dropdown custom-control-inline">
      <button class="btn btn-danger dropdown-toggle text-right custom-control-inline" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <form (ngSubmit)="onDeleteTweet()">
          <button type="submit" class="dropdown-item">Delete</button>
        </form>
      </div>
    </div>

    <h5 class="offset-1">{{tweet.text}}</h5>
    <div class="offset-1">
      {{tweet.countLikes}}
      <form class="custom-control-inline" (ngSubmit)="onSubmitLike()" *ngIf="!tweet.isLiked">
        <button type="submit" class="btn btn-success">Like</button>
      </form>
      <form class="custom-control-inline" (ngSubmit)="onSubmitUnlike()" *ngIf="tweet.isLiked">
        <button type="submit" class="btn btn-danger">Dislike</button>
      </form>
      {{tweet.countComments}}
      <button type="button" class="btn btn-primary" data-toggle="modal" [attr.data-target]="'#tweet' + tweet.id">
        Comment
      </button>
    </div>
  </div>
  <div class="col-sm">
    &nbsp;
  </div>
</div>

<div class="modal fade" id="tweet{{tweet.id}}" tabindex="-1" role="dialog" [attr.aria-labelledby]="'tweet' + tweet.id" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form  #postCommentForm=ngForm (ngSubmit)="onSubmitComment()">
        <div class="modal-body">
          <input type="text" class="form-control" id="inputText" name="text" [(ngModel)]="comment.text" placeholder="What's happening?" required>
        </div>
        <li *ngFor="let obj of tweet.comments">
          <hr>
          <img src="{{obj.imgURL}}" class="rounded" width="50" height="50">
          <h5 class="custom-control-inline">{{obj.name}}</h5>
          <p class="custom-control-inline">@{{obj.username}}</p>
          <small class="custom-control-inline">{{obj.created_at}}</small>
          <div *ngIf="obj.user_id == me" class="dropdown custom-control-inline">
            <button class="btn btn-danger dropdown-toggle text-right custom-control-inline" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <form (ngSubmit)="onDeleteComment(obj)">
                <button type="submit" class="dropdown-item">Delete</button>
              </form>
            </div>
          </div>
          <p class="offset-1">{{obj.text}}</p>
        </li>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!postCommentForm.valid">Comment</button>
        </div>
      </form>
    </div>
  </div>
</div>



