<div class="col-sm-6">
  <div class="card">
    <h5 class="card-header">{{name}}</h5>
    <div class="card-body">
      <p class="card-text">{{tweet.text}}</p>
      <small>{{tweet.created_at}}</small>
      <br>
      <a href="#" class="btn btn-primary">Like</a>
      &nbsp; &nbsp;
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Comment
      </button>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form  #postCommentForm=ngForm (ngSubmit)="onSubmit()">
              <div class="modal-body">
                  <input type="text" class="form-control" id="inputPost2" name="text" [(ngModel)]="comment.text" placeholder="What's happening?" required>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" [disabled]="!postCommentForm.valid">Comment</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <ul *ngFor="let obj of data.comments">
        <app-comment [comment]="obj"></app-comment>
      </ul>



    </div>
  </div>
</div>
