<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Twitter</a>
  <form class="form-inline">
    <a class="btn btn-outline-success my-2 my-sm-0" routerLink="/login" *ngIf="!loggedIn">Login</a>
    &nbsp;&nbsp;
    <a class="btn btn-outline-danger my-2 my-sm-0" routerLink="/signup" *ngIf="!loggedIn">Sign up</a>

    <a class="btn btn-outline-success my-2 my-sm-0" routerLink="/profile" *ngIf="loggedIn">Profile</a>
    &nbsp;&nbsp;
    <a class="btn btn-outline-danger my-2 my-sm-0" href="#" (click)="logout($event)" *ngIf="loggedIn">Log out</a>
  </form>
</nav>
