<div class="container text-center" *ngIf="user.name == null">
  <app-loading></app-loading>
</div>

<div class="container justify-content-center" *ngIf="user.name != null">

  <div class="text-center">

    <img src="{{user.imgURL}}" class="rounded" width="150" height="150">
    <h2 class="card-title">{{user.name}}</h2>
    <p *ngIf="user.isPrivate">( Private profile )</p>
    <p *ngIf="!user.isPrivate">( Public profile )</p>
    <p *ngIf="(user.isFriend && !user.isRequested && !user.meBlockedYou && !user.youBlockedMe) || (!user.isPrivate && !user.meBlockedYou && !user.youBlockedMe)">{{user.bio}}</p>
    <p *ngIf="user.youBlockedMe">{{user.name}} Blocked you</p>
    <div class="row">
      <div class="col-sm">
        <div class="row-sm">
          Following
        </div>
        <div class="row-sm">
          {{user.following.length}}
        </div>
      </div>
      <div class="col-sm">
        <div class="row-sm">
          <form (ngSubmit)="onSubmitAdd()" *ngIf="!user.isFriend && !user.isRequested && !user.youBlockedMe && !user.meBlockedYou">
            <button type="submit" class="btn btn-outline-success">Add Friend</button>
          </form>
          <form (ngSubmit)="onSubmitDelete()" *ngIf="user.isFriend && !user.isRequested && !user.youBlockedMe && !user.meBlockedYou">
            <button type="submit" class="btn btn-outline-danger">Delete Friend</button>
          </form>
          <form (ngSubmit)="onSubmitDelete()" *ngIf="!user.isFriend && user.isRequested && !user.youBlockedMe && !user.meBlockedYou">
            <button type="submit" class="btn btn-outline-secondary">Requested</button>
          </form>
        </div>
        <div class="row-sm">
          <form (ngSubmit)="onSubmitBlock()" *ngIf="!user.meBlockedYou && !user.youBlockedMe">
            <button type="submit" class="btn btn-outline-secondary">Block</button>
          </form>
          <form (ngSubmit)="onSubmitUnblock()" *ngIf="user.meBlockedYou">
            <button type="submit" class="btn btn-outline-secondary">Unblock</button>
          </form>
        </div>
      </div>
      <div class="col-sm">
        <div class="row-sm">
          Followers
        </div>
        <div class="row-sm">
          {{user.followers.length}}
        </div>
      </div>
    </div>
    <div *ngIf="(user.isFriend && !user.isRequested && !user.meBlockedYou && !user.youBlockedMe) || (!user.isPrivate && !user.meBlockedYou && !user.youBlockedMe)">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item w-25">
          <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
        </li>
        <li class="nav-item w-25">
          <a class="nav-link" id="following-tab" data-toggle="tab" href="#following" role="tab" aria-controls="following" aria-selected="false">Following</a>
        </li>
        <li class="nav-item w-25">
          <a class="nav-link" id="followers-tab" data-toggle="tab" href="#followers" role="tab" aria-controls="followers" aria-selected="false">Followers</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      <ul *ngFor="let obj of user.tweets">
        <app-tweet-user [tweet]="obj" [name]="user.name"></app-tweet-user>
      </ul>
    </div>
    <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="contact-tab">
      <ul *ngFor="let obj of user.following">
        <div class="text-center">
          <img src="{{obj.imgURL}}" class="custom-control-inline" width="50">
          <a href="/user/{{obj.username}}"><p class="custom-control-inline">{{obj.name}}</p></a>
        </div>
      </ul>
    </div>
    <div class="tab-pane fade" id="followers" role="tabpanel" aria-labelledby="contact-tab">
      <ul *ngFor="let obj of user.followers">
        <div class="text-center">
          <img src="{{obj.imgURL}}" class="custom-control-inline" width="50">
          <a href="/user/{{obj.username}}"><p class="custom-control-inline">{{obj.name}}</p></a>
        </div>
      </ul>
    </div>
  </div>

</div>
