<app-navbar></app-navbar>

<div class="container text-center" *ngIf="user.name == null">
  <app-loading></app-loading>
</div>

<div class="container justify-content-center" *ngIf="user.name != null">

  <div class="text-center">

    <img src="{{user.imgURL}}" class="rounded" width="150" height="150">
    <h2 class="card-title">{{user.name}}</h2>
    <p *ngIf="user.isPrivate">( Private profile )</p>
    <p *ngIf="!user.isPrivate">( Public profile )</p>
    <p *ngIf="(user.isFriend && !user.isRequested) || !user.isPrivate">{{user.bio}}</p>
    <div class="row">
      <div class="col-sm">
        <div class="row-sm">
          Following
        </div>
        <div class="row-sm">
          {{user.following.length}}
        </div>
      </div>
      <div class="col-sm">
        <form (ngSubmit)="onSubmitAdd()" *ngIf="!user.isFriend && !user.isRequested">
          <button type="submit" class="btn btn-outline-success">Add Friend</button>
        </form>
        <form (ngSubmit)="onSubmitDelete()" *ngIf="user.isFriend && !user.isRequested">
          <button type="submit" class="btn btn-outline-danger">Delete Friend</button>
        </form>
        <form (ngSubmit)="onSubmitDelete()" *ngIf="!user.isFriend && user.isRequested">
          <button type="submit" class="btn btn-outline-secondary">Requested</button>
        </form>
      </div>
      <div class="col-sm">
        <div class="row-sm">
          Followers
        </div>
        <div class="row-sm">
          {{user.followers.length}}
        </div>
      </div>
    </div>

    <ul *ngFor="let obj of user.tweets">
      <app-tweet-user [tweet]="obj" [name]="user.name"></app-tweet-user>
    </ul>

  </div>

</div>
