<div class="row">
  <div class="col-sm">
    &nbsp;
  </div>
  <div class="col-sm-6">
    <img src="https://icon-library.net/images/default-profile-icon/default-profile-icon-24.jpg" class="rounded" width="50" height="50">
    &nbsp;
    <h5 class="custom-control-inline">{{name}}</h5>
    <p class="custom-control-inline">@username</p>
    <small class="custom-control-inline">{{tweet.created_at}}</small>

    <h5 class="offset-1">{{tweet.text}}</h5>
    <div class="offset-1">
      {{data.likes.length}}
      <form class="custom-control-inline" (ngSubmit)="onSubmitLike()" *ngIf="!data.isLiked">
        <button type="submit" class="btn btn-success">Like</button>
      </form>
      <form class="custom-control-inline" (ngSubmit)="onSubmitUnlike()" *ngIf="data.isLiked">
        <button type="submit" class="btn btn-danger">Dislike</button>
      </form>
      {{data.comments.length}}
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal">
        Comment
      </button>
    </div>
  </div>
  <div class="col-sm">
    &nbsp;
  </div>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form  #postCommentForm=ngForm (ngSubmit)="onSubmitComment()">
        <div class="modal-body">
          <input type="text" class="form-control" id="inputText" name="text" [(ngModel)]="comment.text" placeholder="What's happening?" required>
        </div>
        <ul *ngFor="let obj of data.comments">
          <app-comment [comment]="obj"></app-comment>
        </ul>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!postCommentForm.valid">Comment</button>
        </div>
      </form>
    </div>
  </div>
</div>


