<div class="row">
  <div class="col-sm-3">
    &nbsp;
  </div>
  <div class="col-sm" style="border-radius: 20px; border: 1px solid black; box-shadow: 5px 5px;">
    <img src="{{tweet.imgURL}}" class="rounded" width="50" height="50">
    &nbsp;
    <h6 class="custom-control-inline"><b>{{name}}</b></h6>
    <small class="custom-control-inline">@{{tweet.username}}</small>
    <small class="custom-control-inline">{{tweet.created_at | date : "dd.MM HH:mm"}}</small>

    <h5 class="offset-1">{{tweet.text}}</h5>
    <div class="offset-1">
      {{tweet.countLikes}}
      <form class="custom-control-inline" (ngSubmit)="onSubmitLike()" *ngIf="!tweet.isLiked">
        <button type="submit" class="btn"><mdb-icon far icon="heart" size="2x"></mdb-icon></button>
      </form>
      <form class="custom-control-inline" (ngSubmit)="onSubmitUnlike()" *ngIf="tweet.isLiked">
        <button type="submit" class="btn"><mdb-icon fas icon="heart" size="2x" class="cyan-text"></mdb-icon></button>
      </form>
      {{tweet.countComments}}
      <button type="button" class="btn" data-toggle="modal" [attr.data-target]="'#tweet' + tweet.id">
        <mdb-icon far icon="comments" size="2x"></mdb-icon>
      </button>
    </div>
  </div>
  <div class="col-sm-3">
    &nbsp;
  </div>
</div>

<div class="modal fade" id="tweet{{tweet.id}}" tabindex="-1" role="dialog" [attr.aria-labelledby]="'tweet' + tweet.id" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form  #postCommentForm=ngForm (ngSubmit)="onSubmitComment()">
        <div class="modal-body">
          <input type="text" class="form-control" id="inputText" name="text" [(ngModel)]="comment.text" placeholder="What's happening?" required>
        </div>
        <li class="list-unstyled" *ngFor="let obj of tweet.comments">
          <hr>
          &nbsp; &nbsp;
          <img src="{{obj.imgURL}}" class="rounded custom-control-inline" width="50" height="50">
          <h6 class="custom-control-inline"><b>{{obj.name}}</b></h6>
          <small class="custom-control-inline">@{{obj.username}}</small>
          <small class="custom-control-inline">{{obj.created_at | date : "dd.MM HH:mm"}}</small>
          <div *ngIf="obj.user_id == me" class="dropdown custom-control-inline">
            <button class="btn dropdown-toggle text-right custom-control-inline" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
              <form (ngSubmit)="onDeleteComment(obj)">
                <button type="submit" class="dropdown-item">Delete</button>
              </form>
            </div>
          </div>
          <p class="offset-1">{{obj.text}}</p>
        </li>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" [disabled]="!postCommentForm.valid">Comment</button>
        </div>
      </form>
    </div>
  </div>
</div>


