<app-navbar></app-navbar>

<div class="container text-center" *ngIf="profile.name == null">
  <app-loading></app-loading>
</div>

<div class="container justify-content-center" *ngIf="profile.name != null">

  <div class="text-center">

    <img src="{{profile.imgURL}}" class="rounded" width="150" height="150">
    <h2 class="card-title">{{profile.name}}</h2>
    <p *ngIf="profile.isPrivate">( Private profile )</p>
    <p *ngIf="!profile.isPrivate">( Public profile )</p>
    <p>{{profile.bio}}</p>
    <div class="row">
      <div class="col-sm">
        <div class="row-sm">
          Following
        </div>
        <div class="row-sm">
          {{profile.following.length}}
        </div>
      </div>
      <div class="col-sm">
        <a class="btn btn-outline-danger btn-sm" routerLink="/settings">Settings</a>
      </div>
      <div class="col-sm">
        <div class="row-sm">
          Followers
        </div>
        <div class="row-sm">
          {{profile.followers.length}}
        </div>
      </div>
    </div>
  </div>

  <app-post-tweet></app-post-tweet>

  <ul *ngFor="let obj of profile.tweets">
    <app-tweet [tweet]="obj" [name]="profile.name"></app-tweet>
  </ul>

</div>
