<div class="container">

  <div class="row row-offcanvas row-offcanvas-right">

    <div class="col-12 col-md-12">

      <div class="row">
        <div class="card col" style="width: 18rem;">
          <img src="" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">{{profile.name}}</h5>
            <p *ngIf="profile.isPrivate">( Private profile )</p>
            <p *ngIf="!profile.isPrivate">( Public profile )</p>
            <p class="card-text">{{profile.email}}</p>

            <p class="card-text">Bio: <br> {{profile.bio}}</p>
            <a class="btn btn-outline-success btn-sm" routerLink="/settings">Settings</a>
          </div>
        </div>

        <div class="col-6 col-lg-8">

          <app-post-tweet></app-post-tweet>

          <!-- Kako ovde da napravim posebnu komponentu za svaki post? -->
          <ul *ngFor="let obj of profile.tweets">
            <app-tweet [tweet]="obj" [name]="profile.name"></app-tweet>
          </ul>
        </div><!--/span-->
      </div><!--/row-->
    </div><!--/span-->
  </div><!--/row-->
</div>
